.navbar{
    background-color: black ;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 999;
    opacity: 0.9;
    display: flex;
    justify-content: center;
}

.ul-nav{
    list-style: none;
    margin: 0;
    padding: 0;

}

.li-nav{
    display:  inline-block;
    margin: 20px;

}

.a-nav {
    text-decoration: none;
    color: white;
}

